@import "highlight.css";
@import "//lsong.org/css/stylesheet.css";

.posts {
  font-size: 20px;
  font-family: Georgia, serif;
  padding-left: 0;
}

.posts li {
  margin: 10px 0;
}

.posts li a {
  text-decoration: none;
}

.posts li a:hover {
  color: green;
  text-decoration: underline;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: bold;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

.post ol,
.post ul {
  padding: 0;
  margin-left: 1.35em;
}

.post-content {
  font-family: sans-serif;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.post-content a {
  word-wrap: break-word;
  word-break: break-all;
}

.post-content img {
  width: 100%;
}

.post-content blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

.comments {
  text-align: center;
}

.license {
  text-align: center;
}

.player {
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .title {
    display: block;
  }

  .posts {
    font-size: 14px;
    padding-left: 15px;
  }

  .posts .post-date {
    display: none;
  }
}
